/* No styles are necessary; this will work fine without any CSS. Feel free to add or remove below */

.overlay
{
    width:1280px;
    height:102px;
    background-image:url("images/Breaking-News-Gif.gif");
    z-index:100;
    position:absolute;
    top:620;
    left:8;
}

.bx-has-pager /* nav */ {
  text-align:center;
  margin-top:2em
}
.bx-pager-item {
  display:none;
  margin:0 .5em;
  color:#000
}
.bx-pager-link {
  width:44px;
  height:44px;
  line-height:44px;
  display:block
}
.bx-pager-link.active {
  background:#000;
  border-radius:22px;
  color:#fff;
}
cite {
  color:grey;
  text-align:center;
  width:100%;
  float:left;
  display:none;
}
.testimonials /* wrap */ {
  background: transparent;
  position: absolute;
  top: 5px;
  margin: 0 180 0px;
  text-align:center;
  color:#ffffff;
}
.testimonial blockquote { 
  width: 950px;
  margin: 0 130 0px;
  font-size:1.8em;
  font-weight: bold;
  @media all and ( max-width:640px ) { /* sample of some responsive style */
    font-size:1.1em
  }
}